<referentkaglava></referentkaglava>

<div class="container">
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h1 style="margin:30px;text-align:center;">Potrditev vpisa</h1>

  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Vpisna st.</th>
      <th>Ime</th>
       <th>Priimek</th>
      <th>Študijski program</th>
      <th>Študijsko leto</th>
    </tr>  
    </thead>
    
    <tbody>
            <form name="vnosOcen">
            <tr class="form-group table td" ng-repeat="p in vm.potrdiVpis.stu">
                <th scope="row">{{$index +1}}</th>
                <ng-form name="potrdiloVPisa">
                <td>{{ p.vpisna_st  }}</td>
                <td>{{ p.ime  }}</td>
                <td>{{ p.priimek  }}</td>
                <td>{{ p.naziv  }}</td>
                <td>{{ p.studijsko_letoFK  }}</td>
                <td><input type="submit" ng-click="vm.potrdi(p.vpisna_st)"  value="Potrditev"></td>
                <td><button type="submit"  ng-click="vm.submit(p)" value="Natisni">Natisni</td>
                <td><button  ng-click="vm.potrdilo(p)" value="Ogled potrdila">Ogled potrdila</td>
              </ng-form>
            </tr>
            </form>
          </tbody>
  </table>
</div>

<div id="potrdiloV" hidden>
    
     
            <form name="vnosOcen">
            <div class="form-group table td" ng-if="vm.preveriVpisno(p.vpisna_st)" ng-repeat="p in vm.potrdiVpis.stu">
            <div style="display: flex; justify-content: center;"><img class="mb-6" src="http://tekmovanja.acm.si/sites/tekmovanja.acm.si/files/logo_fri.png" alt="" width="30%" height="30%" align="middle"></div>
             <div>
                 <pre class='vneseno'>{{ p.priimek  }} {{ p.ime  }} </pre>
                 <pre class='vneseno'>{{ p.stalni_naslov_ulica  }} {{ p.stalni_naslov_hisnast  }} </pre>
                 <pre class='vneseno'>{{ p.stalni_postna_stevilka  }} {{ p.ime_poste  }} </pre>
             </div>
             <h3 align="center">POTRDILO O VPISU</h3>
            <div id="wrapper" style='display: flex; float: left;'>
                <ng-form name="potrdiloVPisa">
                <div style='float: left;'>
                     <p class='naslov'>Vpisna:</p>
                <pre class='vneseno'> <strong>{{ p.vpisna_st  }}</strong> </pre></br>
                <p class='naslov'>Priimek, ime: </p>
                 <pre class='vneseno'><strong>{{ p.priimek  }}, {{ p.ime  }}</strong></pre></br>
                 <p class='naslov'>Datum rojstva:</p>
                <pre class='vneseno' ><strong>  1995-02-05 </strong></pre></br>
                <p class='naslov'>Kraj rojstva:</p>
                <pre class='vneseno'><strong> {{ p.kraj_rojstva  }}</strong> </pre></br>
                
                </div>
                <div style='float: left; margin-left:50px'>
                    <p class='naslov'>Program:</p>
                <pre class='vneseno'><strong>{{ p.naziv  }}</strong></pre></br>
                <p class='naslov'>Leto: </p>
                <pre class='vneseno'><strong>{{ p.studijsko_letoFK  }}</strong></pre></br>
                <p class='naslov'>Vrsta vpisa:</p>
                <pre class='vneseno'><strong>{{ p.opis  }}</strong></pre></br>
                 <p class='naslov'>Letnik vpisa:</p>
                <pre class='vneseno'><strong>{{ p.letnikFK  }}. letnik</strong></pre></br>
                </div>
            </div>
                
               
                
              </ng-form>
              <div style='position: fixed;  bottom: 15%; right: 0;'>
                  <p>prof. dr- Bojan Orel</p>
                  <p>dekan</p>
              </div>
            </form>
       </div>
      </div>
      
      
<style>
.serif {
    font-family: "Times New Roman", Times, serif;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
</style>