<studentglava></studentglava>
<div class="container">
    <h1>Vpis</h1>
    <form name="vpisForm" ng-submit="vm.izvediVpis()">
      <div class="form-group row">
        <label for="ime" class="col-sm-3 col-form-label">Ime:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="ime" id="ime" ng-model="vpis.ime" ng-pattern="regexIme" required="required">
          <span class="form-text text-muted" ng-show="vpisForm.ime.$error.pattern">Ime ni v pravilni obliki</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="priimek" class="col-sm-3 col-form-label">Priimek:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="priimek" ng-model="vpis.priimek" ng-pattern="regexPriimek" required="required">
          <span class="form-text text-muted" ng-show="vpisForm.priimek.$error.pattern">Priimek ni v pravilni obliki</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="datum_rojstva" class="col-sm-3 col-form-label">Datum rojstva:</label>
        <div class="col-sm-9">
          <input id="datum_rojstva" class="form-control" type="date" ng-model="vpis.datum_rojstva">
        </div>
      </div>
      <div class="form-group row">
        <label for="kraj_rojstva" class="col-sm-3 col-form-label">Kraj rojstva:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="kraj_rojstva" ng-model="vpis.kraj_rojstva">
        </div>
      </div>
      <div class="form-group row">
        <label for="drzava_rojstva" class="col-sm-3 col-form-label">Država rojstva:</label>
        <div class="col-sm-9">
          <select class="form-control" id="drzava_rojstva" ng-options="item.dvomestna_koda as item.slo_naziv for item in drzave" ng-model="vpis.drzava_rojstva">
            <option value="">Izberi državo rojstva</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="emso" class="col-sm-3 col-form-label">EMŠO:</label>
        <div class="col-sm-9">
          <input type="text" name="emso" class="form-control" id="emso" ng-model="vpis.emso" required="required" ng-minlength="13" ng-maxlength="13">
          <span class="form-text text-muted" ng-show="vpisForm.emso.$touched && vpisForm.emso.$invalid">Manjka EMŠO</span>
          <span class="form-text text-muted" ng-show="emsoDateValidation">EMŠO se ne ujema z datumom rojstva</span>
          <span class="form-text text-muted" ng-show="emsoChecksumValidation">EMŠO Številka ni pravilna</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="davcna" class="col-sm-3 col-form-label">Davčna številka:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="davcna" id="davcna" ng-model="vpis.davcna" required="required" ng-minlength="8" ng-maxlength="8">
          <span class="form-text text-muted" ng-show="vpisForm.davcna.$touched && vpisForm.davcna.$invalid && vpisForm.davcna.$error.required">Manjka davčna številka</span>
          <span class="form-text text-muted" ng-show="vpisForm.davcna.$touched && vpisForm.davcna.$invalid && vpisForm.davcna.$error.minlength">Neveljavna davčna številka</span>
          <span class="form-text text-muted" ng-show="vpisForm.davcna.$touched && vpisForm.davcna.$invalid && vpisForm.davcna.$error.maxlength">Neveljavna davčna številka</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="spol" class="col-sm-3 col-form-label">Spol:</label>
        <div class="col-sm-9">
          <select id="spol" class="form-control" ng-options="item.id as item.name for item in spoli" ng-model="vpis.spol">
            <option value="">Izberi spol</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="stalni_naslov_ulica" class="col-sm-3 col-form-label">Ulica stalnega bivanja:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="stalni_naslov_ulica" ng-model="vpis.stalni_naslov_ulica">
        </div>
      </div>
      <div class="form-group row">
        <label for="stalni_naslov_hisnast" class="col-sm-3 col-form-label">Hišna številka stalnega bivanja:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="stalni_naslov_hisnast" ng-model="vpis.stalni_naslov_hisnast">
        </div>
      </div>
      
      <div class="form-group row">
        <label for="stalni_postna_stevilka" class="col-sm-3 col-form-label">Poštna številka:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="stalni_postna_stevilka" ng-model="vpis.stalni_postna_stevilka">
        </div>
      </div>
      <div class="form-group row">
        <label for="stalni_obcina_koda" class="col-sm-3 col-form-label">Kraj pošte:</label>
        <div class="col-sm-9">
          <select class="form-control" id="stalni_obcina_koda" ng-options="item.sifra_obcine as item.ime_obcine for item in obcine | orderBy: ime_obcine" ng-model="vpis.stalni_obcina_koda">
            <option value="">Izberi občino</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="stalni_drzava_koda" class="col-sm-3 col-form-label">Država pošte:</label>
        <div class="col-sm-9">
          <select class="form-control" id="stalni_drzava_koda" ng-options="item.dvomestna_koda as item.slo_naziv for item in drzave" ng-model="vpis.stalni_drzava_koda">
            <option value="">Izberi državo</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="zacasni_naslov_ulica" class="col-sm-3 col-form-label">Ulica začasnega bivanja:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="zacasni_naslov_ulica" ng-model="vpis.zacasni_naslov_ulica">
          <small class="form-text text-muted">Neobvezno polje</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="zacasni_naslov_hisnast" class="col-sm-3 col-form-label">Hišna številka začasnega bivanja:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="zacasni_naslov_hisnast" ng-model="vpis.zacasni_naslov_hisnast">
          <small class="form-text text-muted">Neobvezno polje</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="zacasni_postna_stevilka" class="col-sm-3 col-form-label">Začasna poštna številka:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="zacasni_postna_stevilka" ng-model="vpis.zacasni_postna_stevilka">
          <small class="form-text text-muted">Neobvezno polje</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="zacasni_kraj_posta" class="col-sm-3 col-form-label">Začasni kraj pošte:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="zacasni_kraj_posta" ng-model="vpis.zacasni_kraj_posta">
          <small class="form-text text-muted">Neobvezno polje</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="zacasni_drzava_koda" class="col-sm-3 col-form-label">Začasna država pošte:</label>
        <div class="col-sm-9">
          <select class="form-control" id="zacasni_drzava_koda" ng-options="item.dvomestna_koda as item.slo_naziv for item in drzave" ng-model="vpis.zacasni_drzava_koda">
            <option value="">Izberi državo</option>
          </select>
          <small class="form-text text-muted">Neobvezno polje</small>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
          <input type="checkbox" ng-model="vpis.naslov_vrocanje" id="prejem_zacasni" />
          <label for="prejem_zacasni" class="col-form-label">Pošto hočem prejemati na naslov začasnega bivanja</label>  
        </div>
      </div>
      
      <div class="form-group row">
        <label for="vpisna_st" class="col-sm-3 col-form-label">Vpisna številka:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="vpisna_st" ng-model="vpis.vpisna_st"  disabled="disabled">
        </div>
      </div>

      <div class="form-group row">
        <label for="tel_st" class="col-sm-3 col-form-label">Telefonska številka:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="tel_st" ng-model="vpis.tel_st">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Elektronska pošta:</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" ng-model="vpis.mail">
        </div>
      </div>
      
      <div class="alert alert-danger" role="alert" ng-if="zetonNiNaVoljo">
        Vpis ni možen, na voljo nimate nobenega žeton-a.
      </div>
      <div class="form-group row">
        <label for="program" class="col-sm-3 col-form-label">Študijski program:</label>
        <div class="col-sm-9">
          <select id="program" class="form-control" ng-options="item.sifra_stProgram as item.naziv for item in programi" ng-model="vpis.program" disabled="disabled">
            <option value="">Izberite program</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="vrsta_vpisa" class="col-sm-3 col-form-label">Način študija:</label>
        <div class="col-sm-9">
          <select id="vrsta_vpisa" class="form-control" ng-options="nacin.nacin_studija as nacin.opis for nacin in nacini_studija" ng-model="vpis.vrsta_vpisa" disabled="disabled">
            <option value="">Izberite način študija</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="letnik" class="col-sm-3 col-form-label">Letnik:</label>
        <div class="col-sm-9">
          <select id="letnik" class="form-control" ng-options="item.letnik as item.letnik for item in letniki" ng-model="vpis.letnik" disabled="disabled">
            <option value="">Izberite letnik vpisa</option>
          </select>
        </div>
      </div>
      <!-- <a href="/vpis/predmeti" class="btn btn-primary">Izberi predmete</a> -->
      <!-- <a href="/content/VpisniList.pdf" target="_blank" class="btn btn-primary">Tiskanje</a> -->
      <!-- <button type="submit" class="btn btn-primary">Tiskanje</button> -->
      
      <!-- start -->
      <div class="container">
  <div class="my-3 p-3 bg-white rounded box-shadow" style="max-height:90%;overflow:auto;min-width: 100%">
    <h1 style="margin:30px;text-align:center">Predmetnik</h1>
    <div ng-repeat="skupina in skupine track by $index" ng-if="skupina.id != 1" ng-init="skupinaId = $index">
      <h6 style="margin-top:30px;">{{ skupina.naziv }}:</h6>  
      <div class="list-group">
        <button ng-repeat="predmet in skupine[skupinaId].predmeti track by $index" ng-if="!predmet.izbran && !skupine[skupinaId].predmeti[$index].ignore" ng-click="dodajPredmet(predmet)" type="button" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;{{ predmet.naziv }}<div  style="position: absolute;display:inline-block;right: 10px;"> <i class="fas fa-plus"></i> </div></button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="my-3 p-3 bg-white rounded box-shadow" style="max-height:90%;overflow:auto;min-width: 100%;min-height: 90%;">
    <h1 style="margin:30px;text-align:center">Seznam izbranih predmetov </h1>
    <h6 style="margin-top:30px;" >KT:&nbsp;&nbsp;<div style="display:inline-block;font-size: 30px;color:red;">{{ tock }}</div></h6>
    <h6 style="margin-top:30px;" >Predmeti:</h6>
    <div class="list-group "  >
      
      
      <div ng-repeat="skupina in skupine" ng-if="skupina.id == 1">
        <h6 style="margin-top:30px;">{{ skupina.naziv }}:</h6>  
        <div class="list-group">
          <button ng-repeat="predmet in skupina.predmeti" type="button" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;{{ predmet.naziv }}<div  style="position: absolute;display:inline-block;right: 10px;"> </div></button>  
        </div>
      </div>
      <div ng-repeat="skupina in skupine" ng-if="skupina.id != 1">
        <h6 style="margin-top:30px;">{{ skupina.naziv }}:</h6>  
        <div class="list-group">
          <button ng-repeat="predmet in skupina.predmeti" ng-if="predmet.izbran" ng-click="odstraniPredmet(predmet)" type="button" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;{{ predmet.naziv }}
          <span ng-repeat="data in predmet.nodes">({{ data.ime_predmeta }} {{ data.KT_tocke }} točk)</span>
          <div  style="position: absolute;display:inline-block;right: 10px;"> <i class="fas fa-times"></i> </div></button>  
        </div>
      </div>
   </div>
   <div style="margin-top:30px;">
     <button type="button" class="btn btn-primary" ng-click="izvediVpis()"  style="margin:10px"> <span class="fa fa-pencil-alt"></span> Potrdi vpis</button>
   </div>
  </div>
</div>

<!-- stop -->
      
    </form>
</div>
<noga></noga>