
<referentkaglava></referentkaglava>

<div class="container mainbox fixed-top col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" >
    <h2>Vnos novega izpita</h2>
      <div class="row">
    <form ng-submit="vm.dodajIzpit()">
      <div class="form-group">
        <label for="sel1">Izberi profesorja:</label>
        <select id="sel1" class="form-control" ng-model="vm.podatki.profesor">
           <option  ng-repeat="p in vm.dataProf.prof" value="{{p.sifra_profesorja}}{{' '}}{{p.ime}}{{' '}}{{p.priimek}}" >{{p.sifra_profesorja}}, {{p.ime}} {{p.priimek}} </option>
        </select>
        <label for="sel2">Izberi predmet:</label>
        <select id="sel2" class="form-control"ng-model="vm.podatki.predmet">
           <option  ng-repeat="p in vm.dataSub.subjects" value="{{p.sifra_predmeta}}{{' '}}{{p.ime_predmeta}}" >{{p.sifra_predmeta}}, {{p.ime_predmeta}}</option>
        </select>
        <div class="form-group">
          <label for="izberiDatum">Izberi datum:</label>
            <input id="izberiDatum" name="izberiDatum"class="form-control" type="date" placeholder="geslo" ng-model="vm.podatki.datum">
          </label>
        </div>
        <label for="sel4">Izberi lokacijo:</label>
        <select id="sel4" class="form-control" ng-model="vm.podatki.lokacija">
          <option selected="" disabled="" hidden=""></option>
          <option value="{{'P1'}}">P1</option>
          <option value="{{'PA'}}">PA</option>
          <option value="{{'P22'}}">P22</option>
          <option value="{{'ucilnice'}}">ucilnice</option>
        </select>
      </div>
      <button id="listAdd" type="submit" class="btn btn-default">Dodaj izpit</button>
    </form>
  </div><br/>
  <div class="row"></div>
  <h2>Seznam vseh izpitov</h2>
  <table id="ena" class="table table-striped table-hover table-bordered">
	  <thead class="thead-dark">
		<tr>
		  <th>Šifra predmeta</th>
		  <th>Ime predmeta</th>
		  <th>Datum</th>
		  <th>Kraj</th>
		  <th></th>
		</tr>
	  </thead>
	  <tbody>
		  <tr ng-repeat="s in vm.dataExam.exams">
			<td style="vertical-align: middle;">{{s.subject[0].name}}</td>
			<td style="vertical-align: middle;">
			  {{s.location}}
			</td>
			<td style="vertical-align: middle;">
			  {{s.datum}}
			</td>
			<td style="vertical-align: middle;">{{s.date}} </td>
			 <td><button ng-click="vm.izbrisi(s._id)" class="delete">Izbriši izpit</button></td>
			</td>
		  </tr>
	  </tbody>
	</table>
  
</div>

