<profesorglava></profesorglava>

<div style=" left: 10%; ">
<div class="my-3 p-3 bg-white rounded box-shadow" style="height:100%;;overflow:auto;">
  <h1 style="margin:30px;text-align:center;">Podatki o študentu</h1>
  <label for"filter">Išči po imenu:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
	<input id="filter1" type="text" name="filter1" ng-model="filtr.ime" > </br>
	<label for"filter">Išči po priimku:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
	<input id="filter3" type="text" name="filter3" ng-model="filtr.priimek" ></br>
	<label for"filter" >Išči po vpisni številki:&nbsp;&nbsp;&nbsp;</label>
	<input id="filter2" type="text" name="filter2" ng-model="filtr.vpisna_st" >
  <table class="table" style="margin-top:30px">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ime</th>
      <th scope="col">Priimek</th>
      <th scope="col">Vpisna št.</th>
      <th scope="col">Naslov stalnega bivališča</th>
      <th scope="col">Telefonska številka</th>
      <th scope="col">Elektronska pošta:</th>
    </tr>
  </thead>
  <tbody>
    <tr id="modalno" ng-repeat="s in vm.data.studenti.response | filter :  filtr" data-toggle="modal" data-target="#exampleModalLong" ng-click="vm.izpis(s.vpisna_st,s.ime,s.priimek)">
      <td>{{$index +1}}</td>
      <td>{{s.ime}}</td>
      <td >{{ s.priimek }}</td>
      <td>{{ s.vpisna_st }}</td>
      <td ><div style="display: inline-block;">{{ s.stalni_naslov_ulica }}</div> <div style="display: inline-block;">{{ s.stalni_naslov_hisnast }},</div> <div style="display: inline-block;">{{ s.stalni_postna_stevilka }} </div></td>
      <td>{{ s.tel_st }}</td>
      <td> {{ s.mail }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ vm.ime }} {{ vm.priimek }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="source" class="modal-body"  style="max-height:700px;overflow:auto;">
         <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Študijsko leto</th>
              <th scope="col">Letnik</th>
              <th scope="col">Študijski program</th>
              <th scope="col">Vrsta vpisa</th>
              <th scope="col">Način Študija</th>
            </tr>
          </thead>
          <tbody>
            <tr  ng-repeat="p in vm.pod.vpisani.response">
              <th scope="row">{{$index +1}}</th>
              <td>{{ p.studijsko_letoFK }}</td>
              <td>{{ p.letnikFK }}</td>
              <td>{{ p.sifra_stProgramFK }}</td>
              <td>{{ p.opis }}</td>
              <td>{{ p.eins }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a  class="btn btn-primary" href="/kartotecniListPro/{{vm.vpisna}}" style="margin:10px">Kartotečni list</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Zapri</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#exampleModalLong').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>