

<form class="form-signin"  ng-submit="vm.posiljanjePodatkov()">
      <div style="display: flex; justify-content: center;"><img class="mb-6" src="http://tekmovanja.acm.si/sites/tekmovanja.acm.si/files/logo_fri.png" alt="" width="100%" height="100%" align="middle"></div>
      <p class=" mb-3 font-weight-normal" align="center">Študijski informacijski sistem Fakultete za računalništvo in informatiko</p>
            <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
            <label for="inputEmail" class="sr-only">E-mail naslov</label>
            <input type="email" class="form-control" id="email" placeholder="uporabniško ime" ng-model="vm.prijavniPodatki.email">
            <label for="inputPassword" class="sr-only">Geslo</label>
            <input type="password" class="form-control" id="password" placeholder="Novo geslo" ng-model="vm.prijavniPodatki.geslo1">
            <label for="inputPassword" class="sr-only">Geslo</label>
            <input type="password" class="form-control" id="password" placeholder="Ponovite novo geslo" ng-model="vm.prijavniPodatki.geslo2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
</form>

<noga></noga>